<!-- Sub-Navigation Starts -->
<div class="row">
	<div class="col-md-12 nopadding">
		<ul class="nav nav-tabs report-tabs">
			 <li class="btn-group"><button type="button">Downtime</button></li>
			 <li class="btn-group"><button type="button">Label Printer</button></li>
			 <li class="btn-group"><button type="button">Store Info</button></li>
			 <li class="btn-group"><button type="button">Bin</button></li>
			 <li class="btn-group"><button type="button">Store Capability</button></li>
			 <li class="btn-group"><button type="button" ui-sref="reports()">Reports</button></li>
		</ul>
	</div>
</div>
<div class="row padding10">
Click on Reports tab to see report data
</div>