<div class="spopupOuterContainer" ui-keydown="{'pageup':'goToWorkspace($event);'}">
	<div class="popupMainContainer col-md-7 panel panel-primary slide">
	  <div class="panel-heading">
	  <h3 class="panel-title">{{itemType}} Details
	  <a href="#" ng-click="goToWorkspace($event);"  class="pull-right glyphicon glyphicon-remove"></a></h3>
	  </div>
	  
	  <div class="col-md-12 pop-nav">
		<a ng-click="changeItem($event,'prev')" ng-class="{'disabled': !getNextItem($event,'prev')}" class="pull-left  glyphicon glyphicon-chevron-left" href="#">&nbsp;</a>
		<a ng-click="changeItem($event,'next')" ng-class="{'disabled': !getNextItem($event,'next')}" class="pull-right glyphicon glyphicon-chevron-right" href="#">&nbsp;</a>
	  </div>

	  <div class="panel-body pop-content">
		  <div class="row paddingTopBottom10">
		  	<div>Id : {{detailsData.id}}</div>
		  	<div>{{detailsData.text}}</div>
		  </div>
	  </div>

</div>

